/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
/*---------------Developer-----------------*/
html {width:100%;}
body{
	color: #333;
	margin:0 auto;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	min-width: 996px;
    background:#e4faff;
}
img { border: 0 none; }
a img { border:none; }

p,h1{
	margin:0;
	padding:0;
}
a{
    cursor: pointer;
    color:#000;
	outline:medium none;
    text-decoration: none !important;    
}
a:hover{
    color:#ff3300;
}
.an { display: none; }
.clear {
    clear: both;
}
.text-center {
    margin: 0 auto !important;
    text-align: center !important;
}
.fleft{
    float: left;
}
.fright{
    float: right;
}
.color-red {
    color: red;
}
.width-1{
    width:60px !important;
}
.width-3{
    width:100px !important;
}
.width-2{
    width:180px !important;
}
.note{
    margin: 0px 5px;
    color: red;
    font-weight: bold;
    line-height: 22px;
}
.r-margin-20{
    margin-right: 20px;
}
.r-margin-30{
    margin-right: 20px;
}
.bold{
    font-weight: bold;
}
.width-2{
    width:250px;
}
.width-3{
    width:350px;
}

/*-----------------------News-------------------------*/
.one_new {    
    margin-bottom: 10px;
    overflow: hidden;
    padding: 2px 10px 10px;
    border-bottom: 1px dotted #ccc;
}
.one_new p{
    font-size:12px;
    margin-bottom: 5px;
}
.one_new p.title{
    margin-bottom: 7px;
    font-size: 13px;
}
.one_new .img{
	float: left;
	margin-right: 7px;	
	padding: 2px;
    border: 1px solid #ccc;
    max-width: 90px;
}
.one_new .imgnew{
    float: left;
	margin-right: 7px;	
	padding: 2px;
    border: 1px solid #ccc;
    max-width: 180px;
}
.one_new a{	
	font-weight:bold;
	color:#006699;
    font-size: 12px;
}
.one_new a:hover{
	color:red;	
}
.one_new .short{
	padding-top:4px;
	text-align:justify;
	line-height:18px;
	font-size:12px;
    color:#666;
}
.one_new .icon-detail{
    background:url(/public/images/icon-detail.gif) no-repeat right center;
    float: right;
    padding-right: 10px;
    color: #999999;
    font: 500 11px/18px Arial;
    font-weight: bold;
}
.newother {
    color: #FF9900;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
.ul_newother {
    clear: both;
    list-style: none outside none;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding:0;
    padding-top: 10px;
}
.ul_newother li {
    background: url("/public/images/icon-new-other.png") no-repeat scroll 15px 7px transparent;
    line-height: 18px;
    padding: 0 0 3px 25px;
    vertical-align: bottom;
}
.ul_newother li a{
    color: #006699;    
    font-weight: bold;
    font-size: 12px;
}
.ul_newother li a:hover{
    color: red;    
    text-decoration: underline !important;
}
/*----------------Products--------------------------*/
.one_product {
    list-style: none outside none;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    padding:0px 0px 10px 0px;
    text-align: left;
    width: 100%;
}
.one_product li{    
    display: inline-block;
    float: left;
    margin: 0 35px;
    padding-bottom: 15px;
    width: 226px;
}
.one_product li a{    
    display: block;	
    font-weight: bold;  
	text-align: center;
}
.name-pro a:hover{
    color:red;
}
.name-pro,.price-pro{    
	margin-top:5px;
	font-size:12px;
	display:block;
	text-align:center;
	color:#000;
    font-weight: bold;
}
.price-pro{
	color:#999;
}
.one_product a img{
    max-width: 220px;
}
.one_product a.image-pro {
    border: 1px solid #CCCCCC;
    padding: 2px;
    height:155px;
    text-align: center;
    vertical-align: middle;
}

.one_product .desc-pro{
    height:30px;
    font-weight:normal;
    font-size:12px;
    color:#000;
    text-align: center;
}

.one_product .pro-new{
	position:absolute;
	right:5px;
	top:5px;
	width:45px;
	height:25px;
}

.div_col_left {
    float: left;
    width: 320px;
}
.div_col_right {
    float: right;
    width: 400px;
}
.div_col_left .div_main_product_img {
    border: 1px solid #CACACA;
    float: left;
    height: 300px;
    text-align: center;
    vertical-align: middle;
    width: 300px;
}
.div_col_left .div_main_product_img img {
    max-height: 300px;
    max-width: 300px;
}
.div_col_right .h1_title_main_product {
    font-size: 16px;
    line-height: 24px;
    padding: 0 0 10px;
    width: 100%;
}
.div_col_right .p_text_main_product {
    border-top: 1px solid #E8E4E5;
    line-height: 18px;
    padding: 10px 0;
    width: 100%;
}
.div_col_right .s_bold_main_product {
    font-weight: bold;
}
.div_col_right .s_price_main_product {
    color: #B12201;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    width: 100%;
}
.div_col_right .s_price_main_product.line_through {
    color: #878686;
    margin-left: 10px;
    text-decoration: line-through;
}
.div_col_right .div_main_product_google {
    border-bottom: 1px solid #E8E4E5;
    border-top: 1px solid #E8E4E5;
    float: left;
    line-height: 18px;
    padding: 10px 0;
    width: 100%;
}
/*----------------Pagging ul li  -------------------*/
ul.pagination {
    display: block;
    padding: 10px 0 5px;
    font-size: 12px !important;
    
}
ul.pagination li {
    display: inline;
    margin: 0;
    overflow: hidden;
    padding: 0;
    background: none repeat scroll 0 0 transparent !important;
}
ul.pagination a {
    cursor: pointer;
    text-decoration: none !important;    
    padding: 5px 10px;
    margin-right: 5px;
    background-position: left -161px;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1) inset;
    border-radius: 3px 3px 3px 3px;
    color: #000;
    font-weight: bold;
}
ul.pagination .active, ul.pagination a:hover,span.sotrang {   
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1) inset;
    border-radius: 3px 3px 3px 3px;   
    padding:5px 10px;
    cursor:pointer!important;
    background-position: left -130px;
    border: 1px solid #ccc;
    color: #fff!important;    
    background-color:#666;
    text-decoration:none!important;
    -moz-border-radius: 3px 3px 3px 3px;    
    -moz-border-radius: 3px;-webkit-border-radius: 3px;
    margin-right: 5px;
    
}
/*----------------Contact  p  -------------------*/
ul.form{
    list-style-type: none;
    list-style: none;
}
.form p {
    margin-bottom: 5px;   
	overflow:hidden;
}
.form li{
    margin-bottom: 10px;   
	overflow:hidden;   
}

.text, .textarea,.select{
    background: url("/public/lib_img/input-bg.jpg") repeat-x scroll center bottom #FFFFFF;
    border: 1px solid #999;   
    font-size: 11px;  
    padding: 5px 5px;
    vertical-align: text-top;   
   	color:#000;
    float:left;
    width: 250px;
}
.textarea {
    height: 80px;
    width: 350px;	
}
.select{   
    width:60px;
    padding:2px;
    padding-left:5px;
    margin-right: 7px;
    margin-bottom: 10px;
}
.radio{
    margin-top: 3px;
    margin-right: 5px;
}
.label {    
    color: #000;
    float: left;
    text-align: right;
    width: 130px;
    font-size: 13px;
    margin-right: 5px;  
    line-height: 22px;
    margin-bottom: 10px;
}
.label span{
    color:red;
}
.label-auto{
    width:auto !important;
}
.color-666{
    font-size: 11px !important;
    color:#666 !important;
}
.radius-5{
	border:1px solid #000;
	background-image: linear-gradient(bottom, #efefef 25%, #fff 63%);
    background-image: -o-linear-gradient(bottom, #efefef 25%, #fff 63%);
    background-image: -moz-linear-gradient(bottom, #efefef 25%, #fff 63%);
    background-image: -webkit-linear-gradient(bottom, #efefef 25%, #fff 63%);
    background-image: -ms-linear-gradient(bottom, #efefef 25%, #fff 63%);
    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.25, #efefef ),
    	color-stop(0.63, #fff)
    );
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-ms-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
    behavior: url(../PIE.htc); 
}


input[type=text]:focus, input[type=password]:focus, textarea:focus{
	border:1px solid #333;
}
/*
.button,a.button{
    background-color:#00afef;
	background-image:-moz-linear-gradient(#1090B0, #00afef);    
    border: 1px solid #666;
    border-radius: 3px;
	box-shadow: 0 0 2px 2px #CCC;
    text-shadow:2px 2px 2px #333333 ;
    border: none;
	color:#fff;
	cursor:pointer;	
	font-weight:bold;
	padding:4px 7px;
    margin: 0px 5px;
    font-size: 11px;
    font-family: Tahoma, Geneva, sans-serif;
}
*/
.button, a.button{    
    border: none;
    background: url(/public/images/button.png) no-repeat left top;
    width: 53px;
    height:20px;
    padding-bottom: 0px;
	color:#fff;
	cursor:pointer;	 
    font-weight: bold; 
    line-height:20px;
    font-size: 11px !important;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.button1{    
    border: 1px solid #999 !important;
    min-width: 80px;
    min-height:25px;
    padding-bottom: 0px;
    box-shadow: 0 0 1px 1px #CCC;
	color:#333;
	cursor:pointer;	 
    font-weight: bold; 
    margin-left: 7px;
    font-size: 12px;
}
p#file span {
    color: #333333;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 0px 0;
    padding: 0px 10px 0px 5px;
    text-align: right;
    width: 120px;
}
p#file {
    background: url("/assets/images/choise_file.png") no-repeat scroll right 0px transparent;
    cursor: pointer;
    font-weight: bold;    
    padding: 0 0px;
    width: 300px;
    float:left;
}
p#file input {
    height: 12px;
    margin-right: 10px;
    padding: 4px 5px;
    width: 200px;
}
/*---msgbox--*/
#fade { /*--Transparent background layer--*/
    display: none; /*--hidden by default--*/
    background: #000;
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100%;
    opacity: 0.7;
    z-index: 9999999;
}

#msgbox_outer,#msgbox_outer2{
    position:fixed;
    margin: 0 auto;    
    border: 3px #057acd solid;
    border-radius: 5px;
    padding: 20px 10px 10px 10px;
    background: #fff;
    z-index: 999999999;
    display: none;
    top:-399px;
}

#msgbox,#msgbox2{
    text-align:left;
    font-size: 15px;
    color: #000;
    font-weight: bold;
    padding-top:0;

}

#close_msgbox_outer,#close_msgbox_outer2{
    text-indent:-999999px;
    display:block;
    width:29px;
    height:29px;
    position:absolute;
    background:url(/public/lib_img/close-button.png) no-repeat;
    top:-15px;
    right:-12px;
    cursor:pointer;
}

/*End*/
/*------------------------msg---------------------*/
.msg-error, .msg-alert, .msg-ok, .msg-info, .msg-loading {
    border: 2px solid #DDDDDD;
    margin: 0px auto;
    padding: 3px 10px;
    width:auto;
    max-width:100%;    
    font-size: 14px;
    text-align: center;
}
.msg-error {
    background: none repeat scroll 0 0 #FBE3E4;
    border-color: #FBC2C4;
    color: #8A1F11;
}
.msg-alert {
    background: none repeat scroll 0 0 #FFF6BF;
    border-color: #FFD324;
    color: #514721;
}
.msg-ok {
    background: none repeat scroll 0 0 #E6EFC2;
    border-color: #C6D880;
    color: #264409;
}
.msg-info {
    background: none repeat scroll 0 0 #D5EDF8;
    border-color: #92CAE4;
    color: #205791;
}
.msg-form-error {
    color: red;
    font-weight:bold;    
    padding: 0 0 0 10px;
}
.msg-form-ok {
    color: #579433;
    font-weight: bold;
    padding: 0 0 0 10px;
}
.msg-form-info {
    color: #777777;
    font-weight: normal;
    padding: 0 0 0 10px;
}
.sp_check{
    color: red;
    font-weight:bold;
    display:  inline-block;
    line-height: 20px;
    font-size: 11px;
    font-style: italic;
    padding-top: 2px;
}
form label.msg{
    display: inline-block;
    font-size: 11px;    
    padding: 3px 10px 3px 5px;
    text-align: left;
    width: auto;
    font-style: italic;
}
.messageRe{
    padding:5px;	
	font-weight:bold;
	color:#fff;    	
	height: 20px;
    overflow: hidden;    
    width:auto;	
	margin-left:1px;
	border:none;
	text-align:center;
	background:green; 
    display: block;  	
}
table {
    width: 100%;
    border-collapse:collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
    font-size: 12px;
}
table th {
    font-weight: bold;
    padding: 2px 5px 2px;    
    border: 1px solid #ccc;
    background-color: #eaeaea;	
}
table td {
    border: 1px solid #ccc;
    padding: 2px;
    
}
table td.left{
    text-align: left;
}
table td.none,table th.none {
    border:none;
}
table td img {
    vertical-align: middle;
}
table tr.backcolor {
    background-color: #f5f5f5;
}
table.border-none th, table.border-none td {
    border: none;
}
table.backcolor-none th, table.backcolor-none td {
    background-color: none;
}